<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツの表示 -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">

          <div class="card shadow">
            <div class="card-header">
              <h6 class="text-navy my-2">
                <label th:text="${users.username}"></label>
                さんの出勤時刻参照
              </h6>
            </div>
            <div class="card-body table-responsive">
	            <form th:action="@{/admin/scheduleEdit}" th:object="${users}" th:method="post" novalidate>
		            <div class="card-body table-responsive">
		              <table id="user-table" class="table table-bordered">
		                <thead>
		                  <tr>
		                    <th>出勤時間</th>
		                    <th></th>
		                  </tr>
		                </thead>
		                <tbody>
			                <tr th:each="attendance : *{attendance}" th:object="${attendance}" >
						                    <td th:text="*{#calendars.format(attendanceTime, 'yyyy-MM-dd HH:mm')}"></td>
						                    <td>
						                    <a th:href="@{/admin/attendEdit/{id}(id=*{id})}" class="btn btn-warning">
							                    	<i class="bi bi-trach-fill"></i>
							                    	編集
							                </a>
						                    <a  class="btn btn-danger"
						                    data-bs-toggle="modal" data-bs-target="#exampleModal">
							                    	<i class="bi bi-trach-fill"></i>
							                    	削除
							                </a>
							                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <div class="modal-header">
												        <h5 class="modal-title" id="exampleModalLabel">確認</h5>
												        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												      </div>
												      <div class="modal-body">
												        本当に削除しますか？
												      </div>
												      <div class="modal-footer">
												        <a class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</a>
												        <a th:href="@{/admin/attendDelete/{id}(id=*{id})}" class="btn btn-danger">削除</a>
												      </div>
												    </div>
												  </div>
												</div>
						                    </td>
						    </tr>
		                </tbody>
		              </table>
		            </div>
		              
	             </form>
		     </div>
			</div>
        </div>
      </div>
    </div>
  </main>

</body>
</html>
