<!-- 全部試し -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
  <script>
const checkbox3 = document.getElementsByName("userInfoIdList")

function checkAllBox(trueOrFalse) {
  for(i = 0; i < checkbox3.length; i++) {
    checkbox3[i].checked = trueOrFalse
  }
}
</script>
<style>
#info:hover{
	color : orabge;
}
.test{
	font-size:.875em;
	color:#dc3545;

}
</style>
</head>
<body>
  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツの表示 -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">

          <div class="card shadow">
            <div class="card-header">
            <h6 class="text-navy">
              勤怠登録 
              <button class="btn-secondary btn-sm fc-event-title-container" data-bs-toggle="tooltip" data-bs-placement="right" 
              onclick="return alert('上書きされません')">
				i
				</button>
            </h6>
			</div>
			<div class = "card-body">
			
            <form th:action="@{/admin/scheduleRegister}" th:object="${calendarBuf}"method="post" novalidate>
			<div class="mb-3">
			<h6 >対象職員
			<input type="button" class =" btn btn-primary btn-sm" onclick="checkAllBox(true)"
			  value="全選択" style="margin-bottom:0;">
			  <input type="button" class =" btn btn-primary btn-sm" onclick="checkAllBox(false)"
			  value="全解除">
			  </h6>
			  <!-- ここから職員のチェックボックス -->
             <div class="col-md-9 mb-3">
		        <div  class="mb-3 form-check-inline" th:each="userList, u:*{userList}"><!-- 繰り返し開始 -->
		            <label  >
		             <input class="form-check-input" type="checkbox"
		            th:value="${userList.id}" name ="userInfoIdList"checked th:errorclass="is-invalid">
		          
		           [[${userList.lastName}]][[${userList.firstName}]] </label>
		              
		        </div><!-- 繰り返し終了 -->
		        <br>
		        <th:block class="invalid-feedback" ><div class = "test" th:errors="*{userInfoIdList}"></div></th:block>
		    </div>
		   
			
			
              <h6 >勤務体系</h6>
	           <div class="col-md-9 mb-3">
              	<div class="my-3">
              		<div class="form-check">
              			<input type="radio" class="form-check-input" checked>
              			<label class="form-check-label" for="credit">官執勤務（土日休み）</label>
              		</div>
              			<!-- <label class="bi bi-x-lg" >ABCX (実装未定)</label><br>
              			<label class="bi bi-x-lg">遅早（実装未定）</label><br>
              			<label class="bi bi-x-lg">特執（実装未定）</label> -->
              	</div>
              </div>
              <h6>期間</h6>
              <div class="col-md-9 mb-3">
               <div class="mb-3">
               <label for="title" class="form-label">
               <span class="badge bg-danger">必須</span>
                開始日
                </label>
	                  <input class="form-control w-25" type="date"
	                  th:errorclass="is-invalid" th:field="*{start}">
                <div class="invalid-feedback" th:errors="*{start}">
                </div>
              </div>
               <div class="mb-3">
               <label for="title" class="form-label">
               <span class="badge bg-danger">必須</span>
               	終了日
                </label>
                  <input class="form-control w-25" type="date"
                  th:errorclass="is-invalid"  th:field="*{end}">
                <div class="invalid-feedback" th:errors="*{end}">
                </div>
              </div>
              </div>
              
		              <button class="btn btn-navy col-4" type="submit">
		              	<i class="bi bi-pencil-square"></i>
		              	<span class="text">保存</span>
		              </button>
		              </div>
	             </form>
            	</div>
            	
         	</div>
    	</div>
 	</div>
 </div>
</main>

</body>
</html>

