<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>
  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツの表示 -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">

          <div class="card shadow">
            <div class="card-header">
              <h6 class="text-navy my-2">
                職員一覧
              </h6>
            </div>
            <div class="card-body table-responsive">
              <table id="user-table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>職員ID</th>
                    <th>職員名</th>
                    <th></th>
                    <th>本日の勤怠予定</th>
                    <th></th>
                    <th>本日の出勤時刻</th>
                    <th></th>
                    <th></th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="user : ${users}" th:object="${user}">
                    <td th:text="*{username}">
                    </td>
                    <td> [[*{lastName}]][[*{firstName}]]
                    </td>
                    <td>
                    	<a th:href="@{/admin/userEdit/{id}(id=*{id})}" class="btn btn-outline-primary btn-sm">
                    	<i class="bi bi-trach-fill"></i>
							                    	編集</a>
                    </td>
                    
                    <td >
                    	<div th:each="today: ${today}" th:object="${today}">
                    	<th:block th:if="*{userInfo.id} eq ${user.id}">
                    	<label th:text="*{scheduleName}"></label>
                    	</th:block>
                    	</div>
                    </td>
                    <td>
                    	<a th:href="@{/admin/scheduleList/{id}(id=${user.id})}" class="btn btn-outline-success btn-sm">
                    	<i class="bi bi-trach-fill"></i>
						参照</a>
                    </td>
                    <td >
                    	<div th:each="attend: ${attend}" th:object="${attend}">
                    	<th:block th:if="*{userInfo.id} eq ${user.id}">
                    	<label th:text="*{#calendars.format(attendanceTime, 'yyyy-MM-dd HH:mm')}"></label>
                    	</th:block>
                    	</div>
                    </td>
                    <td>
                    	<a th:href="@{/admin/attendList/{id}(id=${user.id})}" class="btn btn-outline-secondary btn-sm">
                    	<i class="bi bi-trach-fill"></i>
							 参照</a>
                    </td>
                     <td>
                    	<a class="btn btn-danger btn-sm"
                    	data-bs-toggle="modal" data-bs-target="#exampleModal">
                    	<i class="bi bi-trach-fill"></i>
                    	削除</a>
                    	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">確認</h5>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        本当に削除しますか？
							      </div>
							      <div class="modal-footer">
							        <a class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</a>
							        <a th:href="@{/admin/delete/{id}(id=*{id})}" class="btn btn-danger">削除</a>
							      </div>
							    </div>
							  </div>
							</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
