<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/css/app.css}" rel="stylesheet">
 <!-- FullCallendarのために追加してみた -->
  <link th:href="@{/webjars/fullcalendar/5.9.0/main.css}" rel='stylesheet'>
  <link th:href="@{/webjars/fortawesome__fontawesome-free/5.15.4/css/all.css}" rel='stylesheet'>

  <!-- DataTablesのCSSを追加-->
  <link th:href="@{/webjars/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/datatables-buttons/css/buttons.dataTables.min.css}" rel="stylesheet">
  <!-- FullCallendarのために追加してみた -->
 <script th:src="@{/webjars/fullcalendar/5.9.0/main.js}"></script>

  <title>AMS</title>
  <!--  アイコン -->
<link rel="icon" type="image/x-icon" th:href="@{/img/photo.png}">
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/photo.png}">
<link rel="shortcut icon" th:href="@{/img/photo.png}">
</head>
<body>
  <!-- mypageの配置 -->
  <div layout:fragment="mySchedule">
    <script th:src="@{/js/mySchedule.js}"></script>
  </div>
  <!-- 全職員全予定の配置 -->
  <div layout:fragment="allSchedule">
    <script th:src="@{/js/allSchedule.js}"></script>
  </div>
   <!-- admin全職員全予定の配置 -->
  <div layout:fragment="adminAllSchedule">
    <script th:src="@{/js/adminAllSchedule.js}"></script>
  </div>
  <!--testの配置 -->
  <div layout:fragment="test">
    <script th:src="@{/js/test.js}"></script>
  </div>
  <!-- サイドバーの配置 -->
  <div layout:fragment="sidebar">
  </div>
  <!-- コンテンツの配置 -->
  <div layout:fragment="content">
  </div>
  
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- DataTablesのJSを追加 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/webjars/datatables/js/dataTables.bootstrap5.min.js}"></script>
  <script th:src="@{/webjars/datatables-buttons/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/webjars/datatables-buttons/js/buttons.html5.min.js}"></script>
  <script th:src="@{/webjars/datatables-buttons/js/buttons.print.min.js}"></script>
  <script th:src="@{/webjars/jszip/jszip.min.js}"></script></body>
  <script th:src="@{/js/usertables.js}"></script>

</html>
