/* Color */
.fc-day-sat {
    background-color: #eaf4ff;
}
.fc-day-sun {
    background-color: #ffeaea;
}

.bg-image {/* 背景の色 */
  background:
    url('/img/6.gif');
  background-size: cover;
}
.sb-image {/* 背景の色 */
  background:
    linear-gradient(to bottom,
      rgba(195, 72, 17, 0.7),
      rgba(195, 161, 17, 0.6)
    ),
    url('/img/aaa.gif');
  background-size: cover;
}

.text-navy {
  color: #224abe;
}

.btn-navy {
  color: white;
  background-color: #224abe;
}

.btn-navy:hover {
  color: white;
  background-color: #0d47a1;
}

/* Off-Canvas (SideBar) */
.offcanvas {
  width: 200px;
}

@media (min-width: 992px) {
  .offcanvas {
    transform: none;
    visibility: visible !important;
  }

  .offcanvas-outside {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 200px;
  }
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  border: 0;
}

/* Link */
a {
  text-decoration: none;
}

/* Size */
.mh-100 {
  height: calc(100vh - 56px)
}
/*ここから*/
.wrapper {
  margin: 15px auto;
  max-width: 700px;
}
.container-calendar {
  background: #ffffff;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}
.table-calendar th,
.table-calendar td{
  padding: 10px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}
.date-picker.selected {
  font-weight: bold;
  color: #fff;
  background: #cc0000;
}
.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}
/* 日曜 */
.date-picker:nth-child(1) {
color: red;
}
/* 土曜 */
.date-picker:nth-child(7) {
color: blue;
}
#monthAndYear {
  text-align: center;
  margin-top: 0;
}
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}
#previous {
  float: left;
}
#next {
  float: right;
}
.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #454545;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}
