<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>
  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツの表示 -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">

          <div class="card shadow">
            <div class="card-header">
              <h6 class="text-navy my-2">
                職員一覧
              </h6>
            </div>
            <div class="card-body table-responsive">
              <table id="user-table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>職員ID</th>
                    <th>本日の勤怠予定</th>
                    <th>本日の出勤時刻</th>
                    <th></th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="user : ${users}" th:object="${user}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{username}"></td>
                    
                    <td >
                    	<div th:each="today: ${today}" th:object="${today}">
                    	<th:block th:if="*{userInfo.id} eq ${user.id}">
                    	<label th:text="*{scheduleName}"></label></th:block>
                    	</div>
                    </td>
                    <td >
                    	<div th:each="attendance, attendanceTime: *{attendance}" th:object="${attendance}">
                    	<th:block th:if="${attendanceTime.last}">
                    	<label th:text="*{attendanceTime}"></label>
                    	</th:block>
                    	</div>
                    </td>
                     <td>
                    	<a th:href="@{/admin/userEdit/{id}(id=*{id})}" class="btn btn-navy">
                    	<i class="bi bi-pencil-square"></i>
                    	編集</a>
                    	<a th:href="@{/admin/delete/{id}(id=*{id})}" class="btn btn-danger">
                    	<i class="bi bi-trach-fill"></i>
                    	削除</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
